<h1><%= @book.title %></h1>
<p><strong>Author:</strong> <%= @book.author %></p>
<p><strong>ISBN:</strong> <%= @book.isbn %></p>

<% if @book.borrowings.where(returned_at: nil).exists? %>
  <p style="color: red;">This book is already borrowed.</p>
<% else %>
  <%= button_to 'Borrow', borrow_book_path(@book), method: :post, class: 'btn btn-primary' %>
<% end %>
